<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAMPLE PROJECT</title>
    <!-- Bootstrap CDN -->
    <link th:href="@{/lib/bootstrap.css}" rel="stylesheet" />
    <!-- Bootstrap Icon CDN -->
    <link
      rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css}"
    />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <th:block th:replace="~{fragments/header::header}">header</th:block>
    <div class="main">
      <div class="main-container">
        <div class="sideSpacer"></div>
        <div class="content">
          <th:block layout:fragment="default"></th:block>
        </div>
        <div class="sideSpacer"></div>
      </div>
    </div>
    <th:block th:replace="~{fragments/footer::footer}">footer</th:block>
    <script type="text/javascript" src="/lib/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/mainJquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
