<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/default"
>
  <th:block layout:fragment="default">
    Sign Up
    <br />
    <form action="">
      <label for="">User Name: <input type="text" /></label><br />
      <label for="">User ID: <input type="text" /></label><br />
      <label for="">User Password: <input type="text" /></label><br />
      <button>Sign Up</button>
    </form>
  </th:block>
</html>
