<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="header">
    <link th:href="@{/css/header.css}" rel="stylesheet" />

    <!-- Header Component -->
    <header>
      <div class="header">
        <!-- Header Info -->
        <div class="header-info">
          <div>
            <a href="">고객센터</a>
          </div>
          <div>
            <a href="">주문조회</a>
            <a href="">회원가입</a>
            <a href="/user/login">로그인</a>
          </div>
        </div>

        <!-- Header Main-->
        <div class="header-main">
          <div class="title">
            <!-- Off Canvas Component Trigger-->
            <a
              class="mobileNav bi-list btn btn-primary"
              data-bs-toggle="offcanvas"
              href="#navigation"
              role="button"
              aria-controls="offcanvasExample"
            >
            </a>
          </div>

          <!-- Title -->
          <a
            href="/"
            class="title-main"
            style="display: flex; align-items: center"
          >
            <img src="/img/로고배경.svg" class="title-logo" />
            <div class="title-text">SHOESING</div>
          </a>

          <div class="navigation">
            <!-- Search Box -->
            <div class="search-box">
              <th:block
                th:replace="~{fragments/components/searchBox::searchBox}"
              ></th:block>
            </div>
            <!-- User Profile-->
            <div
              id="userProfile"
              type="button"
              data-bs-html="true"
              href="#"
              data-toggle="popover"
              data-bs-placement="bottom"
              data-bs-title="Log In / Sign Up"
            >
              로그인?
            </div>

            <!-- Cart -->
            <div class="cart">
              <!-- Cart Indicator Set Before Use -->
              <div class="cart-indicator"></div>
              <a href="#" class="bi-bag-check"> </a>
            </div>

            <div class="d-none">
              <div id="userProfileContent">
                <th:block th:replace="~{fragments/auth/profile::profile}"
                  >User Profile</th:block
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Spacer -->
      <div class="spacer"></div>
    </header>

    <!-- Off Canvas Component -->
    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="true"
      tabindex="-1"
      id="navigation"
      aria-labelledby="mobile-navigation"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="navigation">Navigation</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <!-- Navigation Links -->
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
          >
            BRAND
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
          >
            WOMAN
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </th:block>
</html>
